<div class="container">
    <script src="app/components/util/ElapsedTime.js"></script>
    <!-- Unable to get bootstrap's button dropdown to work without manually importing jquery and bootstrap. Need to reference local copies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <div>
    <acme-navbar />
  </div>

  <h1>
    {{post.title }}
  </h1>
  <span class="badge">
    {{post.tags.length}} 
  </span> 
  &nbsp; 
  <span class="label label-success" ng-repeat="tag in tags">
    {{ tag.name }}
  </span>
  

  <h3>
     Posted by {{ post.user.nickname}}
   </h3>

  <span>
    <img class="media-object" src="/assets/images/profile_image_medium_{{post.user.id}}.jpg">
  </span>

  <h5>
     {{post.elapsedTime}} 
  </h5>
  
  <div class="well">{{ post.body }}</div>

  <div class="panel panel-info" ng-repeat="endorsement in post.endorsements">
    <div class="panel-heading">
        Endorsement of <a ng-href="#/profiles/{{post.user.id}}">{{ post.user.nickname }}</a> on:  
        <span class="label label-success" ng-repeat="tag in endorsement.tags">
          {{ tag.name }}
        </span>
    </div>

    <div class="panel-footer">
    <span>
      <img class="media-object" src="/assets/images/profile_image_small_{{endorsement.user.id}}.jpg">
    </span>
      Posted by 
      <a ng-href="#/profiles/{{ endorsement.user.id}}">
        {{ endorsement.user.nickname }},
      </a>
      {{ post.elapsedTime }}
    </div>
  </div>

  <div class="panel panel-danger" ng-repeat="advice in advices">
    <div class="panel-heading">
      <h3 class="panel-title">
        Advice to {{ post.user.nickname }} on:
        <span class="label label-default" ng-repeat="tag in advice.tags">
          {{ tag.name }}
        </span>
      </h3>
    </div>
    <div class="panel-body">
      {{ advice.description }}
      <div class="panel panel-default" ng-repeat="endorsement in advice.endorsements">
        <div class="panel-heading">
          <h3 class="panel-title">
            Endorsement of {{ advice.user.nickname }} on:
            <span class="label label-default" ng-repeat="tag in endorsement.tags">
              {{ tag.name }}
            </span>
          </h3>
        </div>
        <div class="panel-body">
          {{ endorsement.text }}
        </div>
        <div class="panel-footer">
          Posted by: 
          <a ng-href="#/profiles/{{ endorsement.user.id}}">
          {{ endorsement.user.nickname }}
          </a>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      Posted by: {{ advice.user.nickname }}
    </div>
  </div>

  <!-- Add your own Response -->

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" id="responseType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Response Type! <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a> Endorsement</a></li>
          <li><a> Advice</a></li>
          <li role="separator" class="divider"></li>
          <li><a> Comment</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" id="responseText" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
<div class="input-group">
  <span class="input-group-addon"> Tags (separate with commas)</span>
  <input type="text" id="tags" class="form-control" placeholder="design,ui,etc" aria-describedby="basic-addon1">
</div>
<button type="button" ng-click="submitResponse();" class="btn btn-default">Submit</button>

<!-- Add space below for dropdown options -->
<h1>.  </h1>
<h1>..  </h1>
<h1>...  </h1>
<h1>....  </h1>
<h1>.....  </h1>

</div>
