<div class="container">

  <div>
    <acme-navbar />
  </div>

  <h1>Post - Detailed</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="badge">{{post.tags.length}} </span> {{post.title }}
        <span class="label label-default" ng-repeat="tag in tags">
          {{ tag.name }}
        </span>
      </h3>
    </div>
    <div class="panel-body">
      {{ post.body }}
    </div>
    <div class="panel-footer">Posted by: 
      <a ng-href="#/profiles/{{ post.user.id}}">{{ post.user.nickname }}
    </a>
  </div>
  </div>

  <div class="panel panel-default" ng-repeat="endorsement in post.endorsements">
    <div class="panel-heading">
      <h3 class="panel-title">
        Endorsement of <a ng-href="#/profiles/{{ post.user.id}}">{{ post.user.nickname }}</a> on:
        <span class="label label-default" ng-repeat="tag in endorsement.tags">
          {{ tag.name }}
        </span>
      </h3>
    </div>
    <div class="panel-body">
      {{ endorsement.text }}
    </div>
    <div class="panel-footer">Posted by: <a ng-href="#/profiles/{{ endorsement.user.id}}">{{ endorsement.user.nickname }}</a></div>
  </div>

  <div class="panel panel-default" ng-repeat="advice in advices">
    <div class="panel-heading">
      <h3 class="panel-title">
        Advice to {{ post.user.nickname }} on:
        <span class="label label-default" ng-repeat="tag in advice.tags">
          {{ tag.name }}
        </span>
      </h3>
    </div>
    <div class="panel-body">
      {{ advice.description }}

      <div class="panel panel-default" ng-repeat="endorsement in advice.endorsements">
        <div class="panel-heading">
          <h3 class="panel-title">
            Endorsement of {{ advice.user.nickname }} on:
            <span class="label label-default" ng-repeat="tag in endorsement.tags">
              {{ tag.name }}
            </span>
          </h3>
        </div>
        <div class="panel-body">
          {{ endorsement.text }}
        </div>
        <div class="panel-footer">Posted by: <a ng-href="#/profiles/{{ endorsement.user.id}}">{{ endorsement.user.nickname }}</a></div>
      </div>

    </div>
    <div class="panel-footer">Posted by: {{ advice.user.nickname }}</div>
  </div>

</div>
