<div class="container">

  <div>
    <acme-navbar />
  </div>

  <h1>Posts - Overview</h1>

<ul class="list-group" ng-repeat="post in posts">
  <li class="list-group-item">
      <div class="badge badge-primary" style="float:left;">
        {{post.tags.length}}
      </div>
      <a ng-href="#/posts/{{post.id}}">
           &nbsp;  {{ post.title }}
      </a>
      <a ng-href="#/profiles/ {{ post.user.id}}" class="label label-success" style="float:right;">
        {{post.user.nickname}}
      </a>
      
  </li>
</ul>
</div>
